html {
  font-size: 100%;
}

* {
  box-shadow: border-box;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: grey;
}

.header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header a {
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.header a+a {
  margin-left: 20px;
}

.content {
  padding-bottom: 20px;
}

button:disabled {
  opacity: 0.5;
}

.picture-wrap {
  width: 200px;
  margin-bottom: 20px;
  border: 2px solid grey;
}

.picture-edit-wrap {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.picture {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.picture img {
  /*height: 100%;*/
  width: auto;
}

.tooltip-label {
  text-align: center;
  display: block;
  padding: 10px 10px;
}

.tooltip-label input {
  width: 100%;
  width: 100%;
  border: 2px solid grey;
}

.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 7px;
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.7)
}

.add-new-picture-wrap {
  width: 100%;
  text-align: center;
}

.add-new-picture-wrap button {
  background-color: inherit;
  border: 2px solid grey;
  border-radius: 5px;
  color: grey;
  font-weight: bold;
  box-shadow: none;
}

.select-image {
  position: absolute;
  height: 100%;
  width: 100%;
  color: white;
  font-weight: bold;
  padding-top: 70%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.file-input-wrap {
  width: 100%;
}

.file-input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}

.adit-delete-buttons-wrap {
  margin: 10px 0;
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
}

.adit-delete-buttons-wrap button {
  background-color: inherit;
  border: 2px solid grey;
  border-radius: 5px;
  color: grey;
  font-weight: bold;
  box-shadow: none;
}